<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div ion-row>
    <h3>Your Balance: <span>Rp.100.000,-</span></h3>
  </div>
</ion-content>

