page-product-details {
  .product-name {
    /* DETAIL PRODUK: */
    font-family: Avenir-Black;
    font-size: 14px;
    color: #383B41;
    letter-spacing: 0;
    line-height: 32px;
  }

  .product-desc {
    font-family: Avenir-Black;
    font-size: 14px;
    color: #383B41;
    letter-spacing: 0;
    line-height: 32px;
  }

  .product-desc-details {
    span {
      font-family: Avenir-Light;
      font-size: 16px;
      color: #383B41;
      letter-spacing: 0;
      line-height: 24px;
    }

    .total {
      /* Rp.49.000,-: */
      font-family: Avenir-Heavy;
      font-size: 20px;
      color: #383B41;
      letter-spacing: 0;
      text-align: right;
      line-height: 24px;
    }
  }
}
