<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Details Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div ion-grid>

    <div ion-row>
      <span class="product-name">DETAIL PRODUK</span>
    </div>
    <div ion-row>
      <span class="product-desc">Xtra Combo 10 GB, Rp. 49.000</span>
    </div>

    <div class="product-desc-details">
      <div ion-row>
        <div ion-col col-9 class=""><span>Data</span></div>
        <div ion-col col-3 class="">10 GB</div>
      </div>

      <div ion-row>
        <div ion-col col-9 class=""><span>Telfon</span></div>
        <div ion-col col-3 class="">30 Mins</div>
      </div>

      <div ion-row>
        <div ion-col col-9 class=""><span>SMS</span></div>
        <div ion-col col-3 class="">200 SMS</div>
      </div>

      <div ion-row>
        <div ion-col col-9 class=""><span>Masa Berlaku</span></div>
        <div ion-col col-3 class="">30 Hari</div>
      </div>

      <div ion-row>
        <div ion-col col-7><span>Harga</span></div>
        <div ion-col col-5 class="total">Rp.49.000,-</div>
      </div>
    </div>

  </div>

  <div ion-row>
    <button ion-button full (click)="buyProduct()">Buy Product</button>
  </div>

</ion-content>
