<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs class="tabs-icon-text" color="primary">
  <ion-tab tabIcon="phone-portrait" tabTitle="Usage" [root]="usageTab"></ion-tab>
  <ion-tab tabIcon="basket" tabTitle="Products" [root]="productsTab"></ion-tab>
  <ion-tab tabIcon="home" tabTitle="Home" [root]="homeTab"></ion-tab>
  <ion-tab tabIcon="person" tabTitle="Profile" [root]="profileTab"></ion-tab>
  <ion-tab tabIcon="cog" tabTitle="Settings" [root]="settingsTab"></ion-tab>
</ion-tabs>
