page-done-payment {
    .done-cont {
        padding: 16px 32px;
    }

    .margin-content {
        margin-top: 115px;
    }

    .circle-cont {
        width: 160px;
        margin: 0 auto;

        .circle {
            height: 160px;
            width: 160px;
            background-color: #89969F;
            border-radius: 50%;
            display: inline-block;

            .icon {
                margin: 0 auto;
                margin-top: 48px;
                width: 78px;
                height: 65px;
                background-size: 80px;
                display: block;

                &.checkmark {
                    background: url('../assets/icon/checkmark-icon.svg') center no-repeat;
                }

                &.errormark {
                    background: url('../assets/icon/errormark-icon.svg') center no-repeat;
                }
            }
        }
    }

    .text {
        margin-top: 12px;
        text-align: center;

        .message {
            font-family: Avenir-Black;
            font-size: 18px;
            color: #2D2F30;
            letter-spacing: 0;
            text-align: center;
            line-height: 56px;
        }

        .description {
            font-family: Avenir-Light;
            font-size: 12px;
            color: #383B41;
            letter-spacing: 0.2px;
            text-align: center;
            line-height: 16px;
        }
    }

    .button-cont {
        margin-top: 25px;
        font-family: Avenir-Black;
    }
}