<ion-content>
    <div class="done-cont">
        <ion-grid no-padding>
            <ion-row class="margin-content">
                <ion-col>
                    <div class="circle-cont">
                        <div class="circle">
                            <i class="{{ content?.icon }}"></i>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="text">
                        <div><span class="message">{{ content?.message }}</span></div>
                        <div><span class="description">{{ content?.text }}</span></div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="button-cont">
                <ion-col><button ion-button full (click)="back()">{{ content?.button }}</button></ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>