<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>


    <div class="avatar-container">
      <img src="./assets/imgs/avatar.svg" alt="">
    </div>

    <div class="name-phone-container">
      <div class="name">
        <span>My Name</span>
      </div>
      <div class="phone">
        <span>+60 803-333-222</span>
      </div>
    </div>

    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>