// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#header-logo {
    width: 45px;
    height: 45px;
    background: url('https://www.xl.co.id/sites/default/files/media-kit/png_hires_logo_XL_v.png') center no-repeat;
    background-size: 35px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.avatar-container {
    text-align: center;
    padding: 30px;
    img {
        height: 100px;
        width: 100px;
    }
}

.name-phone-container {
    padding: 30px;
    .name {
        text-align: center;
    }
    .phone {
        text-align: center;
    }
}