<ion-header>
  <ion-navbar color="primary">
    <ion-title id="logo" text-center>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form novalidate (ngSubmit)="login()" [formGroup]="signinform">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signinform.controls.email.valid && signinform.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signinform.get('email').hasError('minlength') || signinform.get('email').hasError('pattern') ||signinform.get('email').hasError('required') ) && signinform.get('email').touched">
        <div class="error" *ngIf="signinform.get('email').hasError('required') && signinform.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="signinform.get('email').hasError('pattern') && signinform.get('email').touched">
          Email address invalid
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="userData.username" formControlName="username" [class.error1]="!signinform.controls.username.valid && signinform.controls.username.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signinform.get('username').hasError('minlength') || signinform.get('username').hasError('maxlength') ||signinform.get('username').hasError('pattern') ||signinform.get('username').hasError('required') ) && signinform.get('username').touched">
        <div class="error" *ngIf="signinform.get('username').hasError('required') && signinform.get('username').touched">
          Please input your username
        </div>
        <div class="error" *ngIf="signinform.get('username').hasError('minlength') && signinform.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signinform.get('username').hasError('maxlength') && signinform.get('username').touched">
          Maximum 10 characters
        </div>
        <div class="error" *ngIf="signinform.get('username').hasError('pattern') && signinform.get('username').touched">
          Just use alphabet character
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signinform.controls.password.valid && signinform.controls.password.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signinform.get('password').hasError('minlength') || signinform.get('password').hasError('maxlength') ||signinform.get('password').hasError('required') ) && signinform.get('password').touched">
        <div class="error" *ngIf="signinform.get('password').hasError('required') && signinform.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="signinform.get('password').hasError('minlength') && signinform.get('password').touched">
          Minimum 6 characters
        </div>
        <div class="error" *ngIf="signinform.get('password').hasError('maxlength') && signinform.get('password').touched">
          Maximum 12 characters
        </div>
      </ion-item>
      <button type="submit" ion-button block color="primary" [disabled]="signinform.invalid">LogIn</button>
    </form>
  </ion-list>
</ion-content>

<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title id="logo" text-center>{{hydraText}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content">
  <ion-row style="background-color:#EDF1F4">
    <ion-col style="margin-top: 5px">
      <div text-left style="color:#B5B9BC;font-size: 20px"> XL Big Bang Mobile
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="background-color:#EDF1F4">
      <ion-col style="margin-top: 5px">
        <img style="height: 200px; width: 200px; margin: 0 100px;"  src="./assets/imgs/icon.png"/>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <ion-input placeholder="code" type="number" required [(ngModel)]="otpModel.code"></ion-input>
        <p *ngIf="authFail" style="color: red">
          Authentication failed please try another code (^_^)
        </p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button full (click)="login()">Login</button>
    </ion-col>
  </ion-row>
</ion-content> -->