<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product List Page</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <ion-label color="title">XL Products</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label color="title">Current Balance</ion-label>
    </ion-col>
    <ion-col>
      <ion-label color="title">150000 RP</ion-label>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-item-divider>{{ products?.calls[0].name }}</ion-item-divider>
    <button *ngFor="let call of products?.calls" ion-item  (click)="buyThisProduct(sms)">
      <ion-grid>
        <ion-row>
          <ion-col>{{ call.description }}</ion-col>
          <ion-col>{{ call.price }}</ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-card>

  <ion-card>
    <ion-item-divider>
      {{ products?.internet[0].name }}
    </ion-item-divider>
    <button *ngFor="let internet of products?.internet" ion-item  (click)="buyThisProduct(sms)">
      <ion-grid>
        <ion-row>
          <ion-col>{{ internet.description }}</ion-col>
          <ion-col>{{ internet.price }}</ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-card>

  <ion-card>
    <ion-item-divider>{{ products?.sms[0].name }}</ion-item-divider>
    <button *ngFor="let sms of products?.sms" ion-item  (click)="buyThisProduct(sms)">
      <ion-grid>
        <ion-row>
          <ion-col>{{ sms.description }}</ion-col>
          <ion-col>{{ sms.price }}</ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-card>

</ion-content>
