page-confirm-payment {

  .product-name {
    /* DETAIL PRODUK: */
    font-family: Avenir-Black;
    font-size: 14px;
    color: #383B41;
    letter-spacing: 0;
    line-height: 32px;
  }

  .product-desc {
    font-family: Avenir-Black;
    font-size: 14px;
    color: #383B41;
    letter-spacing: 0;
    line-height: 32px;
  }

  .product-desc-details {
    span {
      font-family: Avenir-Light;
      font-size: 16px;
      color: #383B41;
      letter-spacing: 0;
      line-height: 24px;
    }

    .total {
      /* Rp.49.000,-: */
      font-family: Avenir-Heavy;
      font-size: 20px;
      color: #383B41;
      letter-spacing: 0;
      text-align: right;
      line-height: 24px;
    }
  }

  .confirm-payment-disclaimer {
    border: 1px solid #C1C7D0;
    border-radius: 8px;

    margin-top: 50px;
    p {
      font-family: Avenir-Heavy;
      font-size: 12px;
      color: #383B41;
      text-align: center;
      line-height: 16px;
      /* icons/info/black: */
    }
  }

  .confirm-panel{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    .col {
      padding: 0;
    }
  }

  .loading-wrapper {
    /* Rectangle: */
    border-radius: 8px;
    /* colour/white: */
    /* Rectangle Copy: */
    border: 1px solid #C1C7D0;
    border-radius: 8px;
  }
}
