page-select-payment-method {

  button {

    &.activated {
      .button-text {
        .payment-method-sub {
          color: #fff !important;;
        }
        .payment-method-main {
          color: #fff !important;
        }
        .checkbox-icon {
          background-color: #fff !important;
        }
      }
    }

    &.disabled {

      background-color: #EBECF0 !important;
      opacity: 1 !important;

      .payment-method-main {
        span {
          color: #A5ADBB;
        }
      }

      .button-icon {
        .right-arrow {
          background-color: #A5ADBB !important;
        }
      }
    }

    &.payment-method {
      /* Rectangle Copy: */
      background: #FFFFFF;
      border: 1px solid #C1C7D0;
      border-radius: 8px;
      margin: 8px 0px;
      width: 100%;
      text-align: left;
      padding: 0px 12px;

      .button-text {
        width: calc(100% - 35px);
        display: inline-block;

        .payment-method-main {
          /* Pulsa: */
          font-family: Avenir-Black;
          font-size: 14px;
          color: #383B41;
          letter-spacing: 0;
          line-height: 32px;
        }

        .payment-method-sub {
          /* Sisa Pulsa Anda Rp.: */
          font-family: Avenir-Heavy;
          font-size: 10px;
          color: #383B41;
          letter-spacing: 0.17px;
          line-height: 16px;
          margin-bottom: 5px;
        }

        .checkbox-icon {
          -webkit-mask-image: url('../assets/icon/check-icon.svg');
          mask-image: url('../assets/icon/check-icon.svg');
          background-color: #000;
          display: inline-block;
          width: 11px;
          height: 12px;
        }

      }

      .button-icon {
        display: inline-block;
        padding: 5px;
        margin: auto;
        .right-arrow {
          -webkit-mask-image: url('../assets/icon/arrow-right-icon.svg');
          mask-image: url('../assets/icon/arrow-right-icon.svg');
          background-color: #000;
          display: block;
          height: 14px;
          width: 9px;
        }
      }
    }
  }
}
