<!--
  Generated template for the SelectPaymentMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Select Payment Method</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div ion-grid>
    <div ion-row>


      <button ion-button full large class="payment-method" (click)="confirmPayment()">
        <div ion-grid>
          <div ion-row>
            <div ion-col col-11 class="button-text">
              <div class="payment-method-main">
                <span>Pulsa</span>
              </div>
              <div class="payment-method-sub">
                <i class="checkbox-icon"></i> <span>Sisa Pulsa Anda Rp. 50.000,-</span>
              </div>
            </div>
            <div ion-col col-1 class="button-icon">
              <i class="right-arrow "></i>
            </div>
          </div>
        </div>
      </button>


      <button ion-button full large class="payment-method disabled" disabled>
        <div ion-grid>
          <div ion-row>
            <div ion-col col-11 class="button-text">
              <div class="payment-method-main">
                <span>Kartu Kredit  / Debit</span>
              </div>
            </div>
            <div ion-col col-1 class="button-icon">
              <i class="right-arrow "></i>
            </div>
          </div>
        </div>
      </button>

      <button ion-button full large class="payment-method disabled" disabled>
        <div ion-grid>
          <div ion-row>
            <div ion-col col-11 class="button-text">
              <div class="payment-method-main">
                <span>Pulsa Darurat</span>
              </div>
            </div>
            <div ion-col col-1 class="button-icon">
              <i class="right-arrow "></i>
            </div>
          </div>
        </div>
      </button>

    </div>
  </div>
</ion-content>
